/* GGrid set up split between 3 rows and 2 columns, rows are for the arrows and the project detail */
.project-section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 0 8rem;
  border-radius: 180px 180px 0 0;
  background-color: var(--background-color);
  z-index: 1;
}

/* grid-column so that the text is aligned in the middle */
.projects {
  grid-column: 1 / -1;
  justify-self: center;
  position: relative;
  z-index: 2;
  color: var(--black);
}

/* Stylistic pseudo-element */
.projects::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  border-radius: 200px;
  width: 500px;
  height: 100px;
  z-index: -1;
}

/* Setting up grid claimage */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "up up"
    "details description"
    "down down";
  width: 1000px;
  gap: 20px;
}

/* Claiming the up grid */
.up {
  grid-area: up;
  justify-self: center;
  margin: 15px;
}

/* Claiming the down grid */
.down {
  grid-area: down;
  justify-self: center;
}

/* Claiming the details grid also setting up area for image + project name  */
.project-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  color: var(--white);
  margin-bottom: 25px;
  padding-right: 164px;
}

/* Claiming the description container */
.project-description-container {
  grid-area: description;
  align-self: start;
  justify-self: start;
  width: 350px;
}

.project-description {
  margin: 45px 0;
}

/* Styling for arrows */
.arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  margin: 45px 0;
}

.image-wrapper {
  position: relative;
  width: 315px;
  height: 390px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Stylistic pseudo-element */
.image-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 3px solid var(--accent-color);
  z-index: -1;
}
