.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  padding: 4rem 0;
  background-color: var(--second-color);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Container for the photo to allow usage of pseudo element */
.image-container-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Creates a gold circle same size as image behind the image */
.image-container-photo::before {
  content: "";
  position: absolute;
  top: 9.5rem;
  left: 8rem;
  transform: translate(-50%, -50%);
  width: 325px;
  height: 325px;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  z-index: 1;
}

.profile-pic {
  border-radius: 347px;
  width: 325px;
  height: auto;
  margin-bottom: 3rem;
  z-index: 2;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--white);
  margin-bottom: 5rem;
  text-align: center;
}

.hero-text {
  font-size: var(--h3-font-size);
  font-weight: var(--bold);
  color: var(--hero-color);
  text-align: center;
  max-width: 850px;
  line-height: 130%;
  margin: 1rem auto 2rem;
}

.text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Creates gold circle around text for emphasis */
.text-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 7rem);
  height: calc(100% + 20px);
  background-color: transparent;
  border: 3px solid var(--accent-color);
  border-radius: 100px;
  z-index: 1;
}

@media  (max-width: 1024px) {
  .hero {
    padding: 3rem 0;
    height: auto;
  }

  .image-container-photo::before {
    width: 10rem;
    height: 10rem;
    top: 45%;
    left: 40%;
  }
  
  .hero-content{
    margin-bottom: 150px;
  }

  .profile-pic {
    width: 10rem;
    margin: 3rem 0;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .hero-text {
    margin: 1.5rem auto;
  }

  .text-container::before {
    width: calc(100% + 4px);
    height: calc(100% + 10px);
  }
}
