.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--second-color);
  padding: 14px;
  z-index: 1000;
}

.navbar-brand {
  font-weight: var(--extra-bold);
  font-size: var(--brand-font-size);
  color: var(--nav-bar-font-color);
  margin-left: 1rem;
}

.navbar-flex {
  display: flex;
}

.navbar-item {
  color: var(--nav-bar-font-color);
  text-decoration: none;
  font-size: var(--text-font-size);
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.navbar-item:hover {
  color: var(--accent-color);
}

/* Removes button styling */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar-flex {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 0;
    width: 20%;
    background-color: var(--second-color);
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 999;
  }

  .navbar-flex.show {
    display: flex;
    transform: translateY(0%);
    opacity: 1;
  }

  .menu-icon {
    display: block;
    color: var(--white);
    margin-left: 1rem;
    color: var(--nav-bar-font-color);
    transition: color 0.3s;
  }

  .menu-icon:hover {
    color: var(--accent-color);
  }
}
