.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  position: relative;
}

/* Moved about me text for stylistic reasons */
.about-me-text {
  position: absolute;
  left: clamp(19.7%, 14vw + 1rem, 30%);
  top: -3.5rem;
  z-index: 2;
}

/* Pseudo-element for the text */
.about-me-text::before {
  position: absolute;
  content: "";
  transform: translate(-16.4%, -35%);
  background-color: var(--background-color);
  padding: 1rem 2rem;
  border-radius: 250px 250px 0 0;
  width: 400px;
  height: 66px;
  z-index: -1;
}

.h2-about-me {
  font-size: var(--h2-font-size);
  color: var(--white);
  margin-bottom: 2rem;
}

/* Content of the About Me, grid set up for the paragraphs */
.about-me-content {
  background-color: var(--background-color);
  padding: 5rem 8rem;
  border-radius: 25px 125px 125px;
  position: relative;
  left: -10%;
  margin: 0 auto;
  max-width: 1200px;
  height: 500px;
  margin-top: -5rem;
  margin-left: 25.65%;
  display: grid;
  grid-template-areas:
    "greeting greeting"
    "hobby experience";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

/* Claiming the greeting grid */
.about-me-greeting {
  grid-area: greeting;
}

/* Claiming the grid and increasing margin for stylistic reason */
.about-me-hobby {
  grid-area: hobby;
  margin-left: 1.5rem;
}

/* Creating rectangle for style */
.about-me-hobby::before {
  position: absolute;
  content: "";
  transform: translate(-250%, 6%);
  background-color: var(--accent-color);
  border-radius: 20px;
  width: 9px;
  height: 125px;
  z-index: 1;
}

/* Claiming the experience area */
.about-me-experience {
  grid-area: experience;
  margin-left: 1.5rem;
}

/* See above */
.about-me-experience::before {
  position: absolute;
  content: "";
  transform: translate(-250%, 6%);
  background-color: var(--accent-color);
  border-radius: 20px;
  width: 9px;
  height: 160px;
  z-index: 1;
}

.about-me-greeting,
.about-me-hobby,
.about-me-experience {
  font-size: var(--text-font-size);
  margin-bottom: 1rem;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .about-me-hobby::before,
  .about-me-experience::before {
    display: none;
  }
  .about-me-hobby,
  .about-me-experience,
  .about-me-greeting {
    margin-left: -1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .about-me-content {
    width: clamp(25%, 750px, 80%);
    height: 400px;
    padding: 1.5rem 2.2rem;
    border-radius: 10px 75px 75px 75px;
  }

  .about-me-text::before {
    padding: 0.8rem 1.6rem;
    width: 180px;
    height: 50px;
    top: 5px;
  }

  .about-me-hobby,
  .about-me-experience,
  .about-me-greeting {
    font-size: clamp(14px, 16px, 18px);
  }

  .about-me-hobby {
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .about-me-text::before {
    padding: 0.8rem 1.6rem;
    width: 120px;
    height: 50px;
    top: 5px;
    left: 10%;
  }

  .about-me-hobby,
  .about-me-experience,
  .about-me-greeting {
    font-size: clamp(10px, 12px, 14px);
  }

  .about-me-hobby {
    padding-right: 15px;
  }

  .about-me-content {
    height: clamp(40%, 450px, 80%);
    padding: 1.5rem 2rem;
    border-radius: 10px 75px 75px 75px;
  }
}
